  body {
      margin: 0;
      padding: 0;
      font-family: 'Josefin Slab', serif;
  }
  
  .score {
      position: absolute;
      top: 0;
      z-index: 100;
      color: #fff;
      font-size: 8vw;
  }
  
  #q {
      position: absolute;
      top: 50vh;
      z-index: 100;
      left: 50%;
      -webkit-transform: translate(-50%, -110%);
              transform: translate(-50%, -110%);
      font-size: 100px;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 15vw;
  }
  
  ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      height: 100%;
      width: 100%;
  }
  
  li {
      background-size: cover;
      background-position: center;
      text-align: center;
      height: 50vh;
      width: 100vw;
      margin: 0 auto;
      position: relative;
  }
  
  .overlay {
      position: absolute;
      display: block;
      width: 100%;
      height: 100vh;
      background-color: #000;
      opacity: 0.5;
      z-index: 100;
  }
  
  a {
      text-decoration: none;
      position: fixed;
      z-index: 101;
      font-size: 100px;
      color: #fff;
      font-size: 8vw;
      padding: 2%;
      word-spacing: 1000vw;
      height: 48%;
      -webkit-transition: background-color .5s;
      transition: background-color .5s;
  }
  
  .name {
      text-align: right;
      right: 0;
  }
  
  .win {
      background-color: rgba(0, 255, 0, 0.5);
  }
  
  .lose {
      background-color: rgba(255, 0, 0, 0.5);
      ;
  }