  body {
      margin: 0;
      padding: 0;
      font-family: 'Ubuntu', sans-serif;
      background-color: #0A6161;
  }
  
  .menu {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100000;
      display: none;
  }

  .menu#lose {
      background: #7BC4C4;      
  }
  
  .menu .circle {
      border-radius: 50%;
      width: 37.5vh;
      height: 37.5vh;
      position: relative;
      margin: 7.5vh auto 10vh auto;
  }

  .menu#lose .circle {
      border: solid 10px #0A6161;
      background-color: #f0f8f8;
      color: #0A6161;      
  }
  
  .menu .circle div {
      width: 100%;
      position: absolute;
      text-align: center;
      top: 50%;
      -webkit-transform: translateY(-40%);
      transform: translateY(-40%);
  }
  
  .menu .btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      outline: none;
  }
  
  .menu .circle div span:first-child {
      font-size: 8vw;
      display: block;
      font-weight: 700;
  }
  
  .menu .circle div span:last-child {
      font-size: 36vw;
      font-weight: 700;
  }
  
  .menu .social {
      margin-top: 5.5vh;
      width: 100%;
  }
  
  .menu .social ul {
      text-align: center;
      padding: 0;
  }
  
  .menu .social ul li {
      list-style: none;
      display: inline-block;
      text-align: center;
      margin: 0 10px;
      width: 10vh;
      height: 10vh;
  }
  
  .menu .social ul li a {
      width: 100%;
  }

  .menu#lose .social ul li a {
      color: #0A6161;
  }  
  
  .menu .social ul li a i {
      font-size: 16vw;
      -webkit-transition: color .3s ease;
      transition: color .3s ease;
  }
  
  .menu .social ul li a:hover i {
      color: #fff
  }
  
  .menu .comment {
      width: 110%;
      font-size: 8vw;
      font-weight: 600;
      text-align: center;
  }

  .menu#lose .comment {
      color: #0A6161;
  }  
  
  .btn {
      border: none;
      width: 100%;
      text-align: center;
      font-weight: 700;
      font-size: 10vw;
      margin: 0 auto;
      padding: 30px;
      -webkit-transition: background-color .3s ease;
      transition: background-color .3s ease;
  }
  
  .btn-start {
      /*background: #0A6161;*/
      color: #fff;
  }

  .btn-start:hover {
      /*background: #f0f8f8;*/
      color: #0A6161;
  }

  .btn-reset {
      background: #0A6161;
      color: #fff;
  }
  
  .btn-reset:hover {
      background: #f0f8f8;
      color: #0A6161;
  }
  
  .next {
      display: none;
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      z-index: 10000;
      bottom: 0;
  }
  
  .next span i {
      position: absolute;
      color: #3CB73C;
      width: 100%;
      text-align: center;
      top: 50%;
      z-index: 10000;
      font-size: 36vw;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);      
  }
  
  .next svg {
      position: absolute;
      z-index: 999;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  
  .next svg circle {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      stroke-dashoffset: 0;
      stroke-dasharray: 252;
      -webkit-transition: stroke-dashoffset 3s linear;
      transition: stroke-dashoffset 3s linear;
      fill: #dcf4dc;
      stroke: #3CB73C;
      stroke-width: 0.25em;
  }
  
  .next.animate svg circle {
      stroke-dashoffset: 252;
  }
  
  .container {
      width: 357px;
      height: 667px;
      margin: 0 auto;
      position: relative;
      border: 5px solid #000;
  }
  
  .score {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 100;
      color: #fff;
      font-size: 10vw;
      width: 50px;
      height: 50px;
      border: solid 5px #fff;
      border-radius: 10px;
      margin: 10px;
      text-align: center;
  }
  
  #q {
      position: absolute;
      top: 50%;
      z-index: 100;
      left: 50%;
      -webkit-transform: translate(-50%, -110%);
      transform: translate(-50%, -110%);
      font-size: 100px;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 18vw;
      -webkit-transition: .5s ease;
      transition: .5s ease;
  }
  
  .game ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      height: 100%;
      width: 100%;
  }
  
  .game ul li {
      -webkit-transition: all 2s;
      transition: all 2s;
      background-size: cover;
      background-position: center;
      height: 50%;
      width: 100%;
      margin: 0 auto;
      position: relative;
  }
  
  .game ul li a {
      position: absolute;
      width: 100%;
      height: 100%;
      text-decoration: none;
      z-index: 101;
      font-size: 100px;
      color: #fff;
      font-size: 8vw;
      -webkit-transition: background-color .5s;
      transition: background-color .5s;
  }
  
  a>.name {
      width: 100%;
  }
  
  .name>p {
      text-align: right;
      position: absolute;
      right: 0;
      margin: 0;
      padding: 10px;
      word-spacing: 100000em;
  }
  
  .name>span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: .5s ease;
      transition: .5s ease;
  }
  
  li:last-child>.name>p {
      text-align: left;
      left: 0;
      bottom: 0;
  }
  
  .overlay {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
      z-index: 100;
  }
  
  .win {
      background-color: #3CB73C;
      opacity: 0.5;
  }
  
  .lose {
      background-color: #E54B4B;
      opacity: 0.5;
  }
  
  .invisible {
      opacity: 0;
  }