  body {
      margin: 0;
      padding: 0;
      font-family: 'Josefin Slab', serif;
      background-color: #767676;
  }

  .next{
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10000;
    bottom: 0;
  }

.next svg {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
.next svg circle {
  transform: rotate(-90deg);
  stroke-dashoffset: 0;
  stroke-dasharray:252;
  transition: stroke-dashoffset 3s linear;
  fill: #36a536;
  stroke: #2E882E;
  stroke-width: 0.5em;
}
.next.animate svg circle{
  stroke-dashoffset: 252;
}
.next.wrong svg #bar {
  stroke: #AA3939;
}
.next.wrong svg circle{
    fill: #c44242
}
  
  .container {
      width: 357px;
      height: 667px;
      margin: 0 auto;
      position: relative;
      border: 5px solid #000;
  }
  
  .score {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 100;
      color: #fff;
      font-size: 5em;
      width: 100px;
      height: 100px;
      border: solid 5px #fff;
      border-radius: 25px;
      margin: 20px;
      text-align: center;
  }
  
  #q {
      position: absolute;
      top: 50%;
      z-index: 100;
      left: 50%;
      -webkit-transform: translate(-50%, -110%);
      transform: translate(-50%, -110%);
      font-size: 100px;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 10em;
      -webkit-transition: .5s ease;
      transition: .5s ease;
  }
  
  ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      height: 100%;
      width: 100%;
  }
  
  li {
      transition: all 2s;
      background-size: cover;
      background-position: center;
      height: 50%;
      width: 100%;
      margin: 0 auto;
      position: relative;
  }
  
  a {
      position: absolute;
      width: 100%;
      height: 100%;
      text-decoration: none;
      z-index: 101;
      font-size: 100px;
      color: #fff;
      font-size: 5em;
      -webkit-transition: background-color .5s;
      transition: background-color .5s;
  }
  
  a>.name {
      width: 100%;
  }
  
  .name>p {
      text-align: right;
      position: absolute;
      right: 0;
      margin: 0;
      padding: 20px;
      word-spacing: 100000em;
  }
  
  .name>span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: .5s ease;
      transition: .5s ease;
  }
  
  li:last-child>.name>p {
      text-align: left;
      left: 0;
      bottom: 0;
  }
  
  .overlay {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
      z-index: 100;
  }
  
  .win {
      background-color: #2E882E;
      opacity: 0.5;
  }
  
  .lose {
      background-color: #AA3939;
      opacity: 0.5;
  }
  
  .invisible {
      opacity: 0;
  }
